<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Where Is Waldo??	</title>
  <link rel="stylesheet" href="waldostyle.css">
  <script type="text/javascript" src="scripts.js"></script>
</head>
<body>


<h1> Ready to find waldo? </h1>
<img src="/waldo1.jpg" alt = "Waldo is in here somewhere!">

<footer>
</footer>
</body>
</html>
