<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Where Is Waldo??</title>
  <link rel="stylesheet" href="waldostyle.css">
  <script type="text/javascript" src="scripts.js"></script>
</head>
<body id="waldo">

<%= createLoadList %>


</body>
</html>